<h3>Благодарим за интерес к нашей продукции.<br/>
Ваше письмо получено. Мы свяжемся с Вами в ближайшее время.</h3>

<div>
    <p>№ Вашей операции: {{ transaction }}</p>
    <p>id Вашего заказа: {{ id }}</p>
    <p>Выбранные товары: {{ items }}</p>
</div>

<div style="text-align: center;">
    <h3>С уважением, магазин брендовой одежды Podarkoff-moscow.ru</h3>
    <img src="http://fish153.ru/static/images/podarkoff_logo.png" alt="логотип"/>
    <p>Благодарим за сотрудничество!</p>
    <p>8-913-888-97-70</p>
    <a href="http://fish153.ru/">http://fish153.ru/</a>
    <a href="mailto:fish153.ru@gmail.com">fish153.ru@gmail.com</a>
</div>