
{% block navigation %}

    {% load i18n %}
    {% load search_tags %}
    {% load catalog_tags %}

<header id="navbar" role="banner" class="navbar navbar-fixed-top navbar-default">

    <div class='container'>
        <div class="row">

            <div class="col-md-3 zakaz_zvonka">
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Заказать обратный звонок</button>
            </div>

            <div class="col-md-3">

                <div class="menu_top">
                    <nav role="navigation">
                        <div class="region region-navigation">
                            <ul class="menu nav navbar-nav">
                                <li><a href="/o-nas/">О нас</a></li>
                                <li><a href="/akcia/">Акции</a></li>
                                <li><a href="/contact/">Контакты</a></li>
                                <li></i><a href="{% url show_cart %}">{% trans "Shopping Cart" %}</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="col-md-3">
                <div class="phone_area">
                        <div class="auth">
                            <ul class="nav log_menu" id="nav">
                                {% if user.is_authenticated %}
                                    <li><i class="icon-avataralt"><a href="{% url my_account %}">{% trans "My Account" %}</a></i></li>
                                    <li ><i class="icon-avataralt"><a href="{% url django.contrib.auth.views.logout %}">{% trans "Logout" %}</a></i></li>
                                {% else %}
                                    <li style=" margin: 10px 22px 0px 0px; "><i class="icon-avataralt"><a href="{% url django.contrib.auth.views.login %}">{% trans "Login" %}</a></i></li>
                                   <li style=" margin-top: 10px; "> <i class="fa fa-check-square"><a href="{% url register %}">{% trans "Register" %}</a></i></li>
                                {% endif %}
                            </ul>
                        </div>
{#                        <div class="phone">8-913-888-68-99</div>#}
{#                        <div class="form_button">#}
{#                            <!-- <button class="btn btn-primary form-submit" data-toggle="modal" data-target="#myModalForm">Заказать</button> -->#}
{#                            <button class="btn btn-primary form-submit" data-toggle="modal" data-target="#myModalForm">Заказать</button>#}
{#                        </div>#}
                    </div>
                </div>
            <div class="cart_bloc">
                <div class="col-md-3">
                    <div class="cart_icon">
                        <i class="icon-addtocart">
                        {% cart_box request %}
{#                        {% menu_photo request %}#}
                        </i>
                    </div>
                </div>

            </div>

        </div>
    </div>

</header>

{% endblock %}

