
{% block navigation %}

    {% load i18n %}
    {% load search_tags %}
    {% load catalog_tags %}

{#<div class="navbar navbar-fixed-top">#}
{#    <div class="navbar-inner">#}
{#        <div class="container">#}
{#            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </a>#}
{#            <a class="brand" href="{% url catalog_home %}">Христианский интернет магазин</a>#}
{#            <div class="nav-collapse">#}
{#                <ul class="nav tabbar" id="nav">#}
{#                    <li><a href="/o-nas/">О нас</a></li>#}
{#                    <li><a href="/dostavka/">Доставка</a></li>#}
{#                    <li><a href="/contact/">Контакты</a></li>#}
{#                    <li><a href="{% url show_cart %}">{% trans "Shopping Cart" %}</a></li>#}
{#                </ul>#}
{#                {% search_box request %}#}
{#                <ul class="nav log_menu" id="nav">#}
{#                    {% if user.is_authenticated %}#}
{#                        <li><a href="{% url my_account %}">{% trans "My Account" %}</a></li>#}
{#                        <li><a href="{% url django.contrib.auth.views.logout %}">{% trans "Logout" %}</a></li>#}
{#                    {% else %}#}
{#                        <li><a href="{% url django.contrib.auth.views.login %}">{% trans "Login" %}</a></li>#}
{#                        <li><a href="{% url register %}">{% trans "Register" %}</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<header id="navbar" role="banner" class="navbar navbar-fixed-top navbar-default">

    <div class='container'>
        <div class="row">

            <div class="col-md-6">

                <div class="menu_top">
                    <nav role="navigation">
                        <div class="region region-navigation">
                            <ul class="menu nav navbar-nav">
                                <li><a href="/o-nas/">О нас</a></li>
                                <li><a href="/dostavka/">Доставка</a></li>
                                <li><a href="/contact/">Контакты</a></li>
                                <li></i><a href="{% url show_cart %}">{% trans "Shopping Cart" %}</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="col-md-3">
                <div class="phone_area">
                        <div class="auth">
                            <ul class="nav log_menu" id="nav">
                                {% if user.is_authenticated %}
                                    <li><i class="icon-avataralt"><a href="{% url my_account %}">{% trans "My Account" %}</a></i></li>
                                    <li ><i class="icon-avataralt"><a href="{% url django.contrib.auth.views.logout %}">{% trans "Logout" %}</a></i></li>
                                {% else %}
                                    <li style=" margin: 15px 22px 0px 0px; "><i class="icon-avataralt"><a href="{% url django.contrib.auth.views.login %}">{% trans "Login" %}</a></i></li>
                                   <li style=" margin-top: 15px; "> <i class="fa fa-check-square"><a href="{% url register %}">{% trans "Register" %}</a></i></li>
                                {% endif %}
                            </ul>
                        </div>
{#                        <div class="phone">8-913-888-68-99</div>#}
{#                        <div class="form_button">#}
{#                            <!-- <button class="btn btn-primary form-submit" data-toggle="modal" data-target="#myModalForm">Заказать</button> -->#}
{#                            <button class="btn btn-primary form-submit" data-toggle="modal" data-target="#myModalForm">Заказать</button>#}
{#                        </div>#}
                    </div>
                </div>
            <div class="cart_bloc">
                <div class="col-md-3"><div class="cart_icon"><i class="icon-addtocart">
                    {% cart_box request %}</i></div>
                </div>

            </div>

        </div>
    </div>

</header>

{% endblock %}

