{% extends "catalog.html" %}
{% load i18n %}
{% load catalog_filters %}
{% block content %}
{% block slider %}
{% endblock %}
{% block tri_bloka %}
{% endblock %}
<div id="cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">

                {% if cart_items %}
                    {% for item in cart_items %}
                        <div class="col-md-12 tovar">
                            <div class="name">
                                 <p>Название продукта</p>
                                <a href="{{ item.get_absolute_url }}" class="cart">
                                    {{ item.name }}
                                </a>
                            </div>
                            <div class="price">
                                <table class="table-responsive">
                                    <tbody>
                                    <tr>
                                    <td><p>цена:</p></td>
                                    <td style=" border-right: 1px solid #CACACA; "><p  style="color:red;">{{ item.price }} {% trans "руб." %}</p></td>
                                    <td><p>количество</p></td>
                                    <td>
                                    <form method="post" action="." class="cart">{% csrf_token %}
                                        <div class="number">
                                            <input type="text" name="quantity" value="{{ item.quantity }}" id="quantity" size="2" class="quantity" maxlength="5" />
                                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                                            <input type="hidden" name="item_id" value="{{ item.id }}" />
                                            <button class="btn btn-info" type="submit" name="update" style=" float: left; margin-right: 20px; ">
                                                <i class="icon-refresh icon-white"></i><span>Обновить</span>
                                            </button>
                                        </div>
                                    </form>
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

{#                            <form method="post" action="." class="cart">{% csrf_token %}#}
                                
{#                                <div class="button_refresh">#}
{#                                    <input type="hidden" name="item_id" value="{{ item.id }}" />#}
{#                                    <button class="btn btn-info" type="submit" name="update" style=" float: left; margin-right: 20px; ">#}
{#                                        <i class="icon-refresh icon-white"></i><span>Обновить</span>#}
{#                                    </button>#}
{#                                </div>#}
{#                            </form>#}

                            <div class="button_remove">
                                <form method="post" action="." class="cart">{% csrf_token %}
                                    <input type="hidden" name="item_id" value="{{ item.id }}" />
                                    <button class="btn btn-danger" type="submit" name="remove">
                                        <i class="icon-trash icon-white"></i>{% trans "Remove" %}
                                    </button>
                                </form>
                            </div>

                            <div class="total">
                                <p>{% trans "всего" %}: {{ item.total }} {% trans "руб." %}</p>
                            </div>

                        </div>
                    {% endfor %}
                {% else %}
                    <div class="cart_empty">
                        <p>{% trans "Your cart is empty" %}</p>
                    </div>
                {% endif %}

                <div class="col-md-4 kupon">
                     <p style=" color: red; ">Введите Ваш купон - промокод:</p>
                    <form method="post" action=".">{% csrf_token %}
                        <input type="text" name="cupon" value="" id="cupon" size="10" style=" width: 147px; margin-right: 10px;"/>
                        <button class="btn btn-info" type="submit" name="update_cupon">
                            <i class="icon-refresh icon-white"></i><span>Пересчитать</span>
                        </button>
                    </form>
                </div>

                <div class="col-md-8 oformit">

                    {% if cart_items %}
                        <form method="post" action="." class="cart">{% csrf_token %}
                            <button class="btn btn-success" type="submit" name="checkout">
                            <i class="icon-shopping-cart icon-white"></i><span>Офорить заказ</span></button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


