
    <div id="cotalog">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% extends "catalog.html" %}
                    {% load i18n %}
                    {% block content %}
                        {% block slider %}
                        {% endblock %}
                        {% block tri_bloka %}
                        {% endblock %}
                        <h1>{{ c.name }}</h1>
                        {{ c.description }}
                        <br /><br />
                    {% if products %}
                     {% for p in products %}
                  <div class="product_thumbnail">
                    <a href="{{ p.get_absolute_url }}">
                      <img src="{{ p.image_url }}"
                      alt="{{ p.name }}" />
                      <br />
                      {{ p.name }}
                      </a>
                      <br />
                      {{ p.price }} руб.
                  </div>
                </div>
            </div>
        </div>
    </div>
         {% endfor %}
     {% else %}
         {% trans "Products for this category not found" %}
        {% endif %}
     {% endblock %}


