{% extends "catalog.html" %}
{% load i18n %}
{% block slider %}
{% endblock %}
{% block tri_bloka %}
{% endblock %}


{% block content %}
    <div id="cotalog">
        <div class="container">
            <div class="row">
                <h1>{{ c.name }}</h1>
                <h3>{{ c.description }}</h3>

{#                    если продукты существуют#}
                    {% if products %}
{#                        цыкл по продуктам (осуществляется проход до тех пор пока есть продукты)#}
                        {% for p in products %}
                            <div class="col-md-3">
                                <div class="product_thumbnail">
                                    <a href="{{ p.get_absolute_url }}">
                                        <img src="{{ p.image_url }}"
                                        alt="{{ p.name }}" />
                                        <br />
                                        {{ p.name }}
                                    </a>
                                    {{ p.price }} руб.
                                </div>
                            </div>
                        {% endfor %}
{#                        закончить цыкл#}

{#                    иначе .... если продукты не существуют#}
                    {% else %}
                        {% trans "Products for this category not found" %}
                    {% endif %}
{#                    закончить условие "если"#}
            </div>
        </div>
    </div>
{% endblock %}


