/* стили для страницы категории */

h1,h2,h3,h4{
    font-family: 'PT Sans Narrow', sans-serif;
}

div.product_thumbnail{
	text-align: center;
	float: left;
	/*height: 100px;*/
}
.product_thumbnail img {
	width: 100%;

}
ul#categories{
	list-style: none;
}
ul#categories li{
	font-weight: bold;
	color: #616161;
}
ul#categories li a{

    text-decoration: underline;
}

/* стили для страницы товаров */
div.product_image{
	float:left;
	padding: 0 10px 10px 0;
}

/*Стиль для страницы отображающей корзину*/
table#shopping_cart{
	 width:100%;
	 border-collapse:collapse;

	 color:#616161;
}
h1,caption{
	 text-align:left;
	 font-size:x-large;
	 margin-bottom:15px;
	 color:Black;
}
th,td{
	 text-align:left;
	 padding:3px;
}
thead th{
	 color:White;
	 background-color:#616161;
}
tfoot th{
	 height:40px;
}
table#shopping_cart th.right, td.right{
	 text-align:right;
}
a.cart{
	 color:DarkOrange;
}

/*навигация*/
#navigation{
	width: 900px;
	height: auto;
	background-color: #98AC5E;
	text-align: middle;
}
.navbar-fixed-top{
    font-size: 17px;
	background: #f9f6f7!important;
    font-family: 'PT Sans Narrow', sans-serif;
	border:none ;

}

.menu_main a{
    font-family: 'PT Sans Narrow', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}
.menu_main li a:hover{
    color: #e67c8e!important;
}
.navbar-collapse{
    padding-left: 0!important;}
.navbar-fixed-top .nav>li>a{
    float: left;
}
.nav.log_menu a{
    padding-left: 10px;
    font-size:16px;
    color:#333333;
    font-family: 'PT Sans Narrow', sans-serif;
}

.nav.log_menu a:hover{
    color:#343331;
    text-decoration:none;
}

i.fa.fa-check-square{
    font-size:18px!important;
}
.navbar-collapse.navbar-collapse-top.collapse{
    float:right;
}

.region-navigation .navbar-nav a{
    padding: 15px 7px 0px 7px;
}

.nav.log_menu i{
    font-size:16px;
}

.cart_icon .icon-addtocart{
	font-size:20px;
}
.cart_icon a{
    font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	color:#333;
}
#navigation ul{
    list-style:none;

}
.cart_bloc .col-md-3{
	padding: 11px 0px 10px 28px;
	background:#f0f0f0 ;
}
#navigation ul li{
	float: left;
	margin-right: 15px;
}
#navigation ul li a{
	color: White;
	font-weight: bold;
	text-decoration: underline;
}
#navigation ul li a:hover{
	color: #616161;
	background-color: White;
	text-decoration: none;
}
.phone_area .auth,
.phone_area .phone,
.phone_area .form_button{
	float: left;
}
.phone_area .auth ul li {
	float: left;
}
ul.menu li ul.children {
	display: none;
	position: absolute;
}
ul.menu li:hover ul.children {
	display: block;
}

/*мои стили*/
.phone_area {
	float: right;
}

/*-----------Логотип телефон----------------*/

.logo_phone img {
    float: left;
}

.logo_phone{
margin: 30px 0px 30px 0px;
}
.logo_phone p {
margin: 16px 0px 0px 17px;
float: left;
text-transform: uppercase;
font-family: 'Poiret One', cursive;
font-size: 18px;
color: #333;
}

/*----------------Слайдер--------------------*/

.slide.row-fluid.second{
    background: url(../images/bg-slide2.jpg) repeat-x;
}
.slide.row-fluid.first{
   background: url(../images/bg-slide.jpg)repeat-x;
}
.slide.row-fluid.third{
    background: url(../images/bg-slide3.jpg)repeat-x;
}
.hidden-phone{
    padding-top: 40px;
}
#navbar.navbar-default{
    border: none;
    background: none;
}
.navbar-collapse{
    border-top: 1px solid #e8e8e8;
}

/*-----------популярные товары---------------*/

.tri_bloka .col-md-12{
    margin: 22px 0px 60px 0px;
}
.tri_bloka h2{
text-transform: uppercase;
font-weight: bold;
letter-spacing: 2px;
color: #555;
text-align: center;
font-size: 27px;
}
.tri_bloka_text{
    text-align: center;
margin-bottom: 50px;
text-transform: uppercase;
}
.tri_bloka_text h3{
    font-family: 'Open Sans Condensed';
    font-size: 30px;
}
.tri_bloka a{
    text-decoration: none;
}
.tri_bloka p{
    text-align: center;
}

.popular_products, .best_selling{
    margin-top: 100px;
}
#popular_products{
background: #F7F7F7;
padding: 40px 0px 60px 0px;
}
#popular_products .breadcrumb,#best_selling .breadcrumb{
background: #E67C8E;
text-align: center;
color: #fff;
font-size: 22px;
}
#popular_products .product_thumbnail{
background: #fff;
padding: 30px;
border: 1px solid #E8E8E8;
border-radius: 3px;
}
#popular_products .product_thumbnail img, .best_selling .product_thumbnail img{
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
    -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

#popular_products .product_thumbnail img:hover, .best_selling .product_thumbnail img:hover{
    -webkit-filter: blur(2px);
}

#popular_products .product_thumbnail:hover{
border: 1px solid #ccc;
}
#popular_products  h3, #best_selling h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 21px;
    color: #333;
    margin-bottom: 0;
}
#popular_products  h3:hover, #best_selling h3:hover{
    color: #E67C8E;
}
#popular_products a, #best_selling a{
  text-decoration: none;
}
#popular_products p,#best_selling p{
font-size: 19px;
color: #E67C8E;
}
#best_selling{
    padding: 40px 0px 60px 0px;
}
#best_selling .product_thumbnail{
    margin-bottom: 30px;
}
#promotion_discount{
    background-image: url(../images/poly.png);
    background-position: 50% 50%;
    background-color: #735988;
    height: 250px;

}