{#bootstrap#}
{% load bootstrap3 %}
{% load catalog_tags %}
{% load i18n %}
{% load mptt_tags %}

<!DOCTYPE HTML>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/css.css" />

    {% bootstrap_css %}

	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" />

{#    flex-slider#}
    <link href="{{ STATIC_URL }}css/flexslider.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/theme-style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}font/css/font-awesome.min.css" rel="stylesheet">


	<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
	<title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="keywords" content="{{ meta_keywords }}" />
	<meta name="description" content="{{ meta_description }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!--[if lt IE 9]>
  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
  </style>
</head>
<body>

	{% include "common/navigation.html" %}

    <div class="container">
{#		<div class="row">#}
{#			<div class="span12">#}
{#				{% block header %}{% endblock %}#}
{#                {% include "common/languages.html" %}#}
{#			</div>#}
{#		</div>#}
		<div class="row">
			<div class="col-md-12">
{#                содержимое в catalog.html#}
				{% block site_wrapper %}
                {% endblock %}
			</div>
		</div>
	</div>
    {% block footer %}
        {% include "common/footer.html" %}
    {% endblock %}

	<script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/custom.js"></script>

    {% bootstrap_javascript %}
    {% bootstrap_messages %}

{#    flex-slider#}
    <script src="{{ STATIC_URL }}js/jquery.flexslider-min.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>

{#    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>#}
{#	<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-collapse.js"></script>#}
{#  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap-tab.js"></script>#}
</body>
</html>
