{% extends "base.html" %}
{% load i18n %}
{% load catalog_tags %}
{% block site_wrapper %}



            <div class="span10">
                <a href="#content" class="skip_link">{% trans "Skip to main content" %}</a>
    {#		    <a href="{% url catalog_home %}"><h1>Каталог</h1></a>#}
            </div>

    {#        <div class="span2">#}
    {#          {% cart_box request %}#}
    {#        </div>#}
        <div class="logo_phone">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                      <div class="logo">
                        <a href="/"> <img src="{{ STATIC_URL }}images/podarkoff_logo.png"></a>
                      </div>
                    </div>
                    <div class="col-md-3">
                        <div class="phone">
                           <img src="{{ STATIC_URL }}images/phone.png">
                           <p>+7(926) 304 5777</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                       <div class="purchase">
                           <a href="/oplata">
                           <img src="{{ STATIC_URL }}images/credit-card.png">
                           <p>условия оплаты</p>
                            </a>
                       </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dostavka">
                           <a href="/dostavka">
                           <img src="{{ STATIC_URL }}images/bag.png">
                           <p>условия доставки</p>
                           </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main_menu" id="menu_fixed">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
            {#            содержимое в category_list.html#}
            {#            <h3>Блок основное меню</h3>#}
                        {% categories_tree request %}
                    </div>
                </div>
            </div>
        </div>



    {#            flex-slider#}
{#            flex-slider#}
    {% block slider %}
{#        находится в tags/slider.html#}
        {% slider request %}
    {% endblock %}


    {#        блок разделов#}
    {% block tri_bloka %}
        <div class="tri_bloka">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 tri_bloka_text">
                        <h3> Мы продаем солнцезащиные очки по РФ,по ценам закупки в Европе +5% доставка.</h3>
                    </div>
                     <div class="col-md-4">
                         <a href="/product/dolcegabbana-dg-4167-25702a">
                             <div class="foto_blok">
                               <img src="{{ STATIC_URL }}images/ochki_1.jpg" alt="Верхняя одежда">
                             </div>
{#                            <h2>Верхняя одежда</h2>#}
                         </a>

                    </div>
                    <div class="col-md-4">
                        <a href="/product/tom-ford-ft0370-50k">
                            <div class="foto_blok">
                                 <img src="{{ STATIC_URL }}images/ochki_4.jpg" alt="Кожгалантерея ">
                            </div>
{#                            <h2>Кожгалантерея </h2>#}
                        </a>

                    </div>
                    <div class="col-md-4">
                        <a href="/product/bottega-veneta-bv195s-80770">
                            <div class="foto_blok">
                                <img src="{{ STATIC_URL }}images/ochki_3.jpg" alt="Солнцезащитные очки">
                            </div>
{#                            <h2>Солнцезащитные очки</h2>#}
                        </a>

                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
    {#        блок контент#}

    {#содержимое в catalog/index.html#}
        {% block content %}
        {% endblock %}


{#            <div class="col-md-12">#}
{#                <h2>Раздел после контента</h2>#}
{#            </div>#}
        <div class="main_menu menu_footer" id="menu_fixed">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
            {#            содержимое в category_list.html#}
            {#            <h3>Блок основное меню</h3>#}
                        {% categories_tree request %}
                    </div>
                </div>
            </div>
        </div>
    {#        блок футер#}
            <div id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <nav role="navigation">
                                            <div class="region region-navigation">
                                                <ul class="menu nav navbar-nav">
                                                    <li><a href="/o-nas/">О нас</a></li>
                                                    <li><a href="/akcia/">Акции</a></li>
                                                    <li><a href="/katalog/">Каталог</a></li>
                                                    <li><a href="/contact/">Контакты</a></li>
                                                    <li></i><a href="{% url show_cart %}">{% trans "Shopping Cart" %}</a></li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="col-md-12">
                                         <a class="brand" href="http://forward70.ru">Создание сайтов Forward Group</a>
                                    </div>
                                </div>


                            <div class="col-md-6">
                                <div class="soc_battom">
                                    <div class="col-md-5">
                                        <p>Мы в социальных сетях</p>
                                        <ul>
                                            <li><a href="http://vk.com/public61461184" class="icon_vk"></a><a href="http://vk.com/public61461184">vk.com/podarkoff</a></li>
                                            <li><a href="http://instagram.com/_podarkoff_" class="icon_inst"></a><a href="http://instagram.com/_podarkoff_">@_podarkoff_</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Контакты</p>
                                        <ul>
                                            <li><a class="icon_tel"></a><span>+7(926) 304 5777</span></li>
                                            <li><a href="mailto:podarkoff777@gmail.com" class="icon_email"></a><a href="mailto:podarkoff777@gmail.com">podarkoff777@gmail.com</a></li>
                                        </ul>
                                        <div class="metrika">
                                          <!-- Yandex.Metrika counter -->
                                            <script type="text/javascript">
                                            (function (d, w, c) {
                                            (w[c] = w[c] || []).push(function() {
                                            try {
                                            w.yaCounter24887471 = new Ya.Metrika({id:24887471,
                                            webvisor:true,
                                            clickmap:true,
                                            trackLinks:true,
                                            accurateTrackBounce:true});
                                            } catch(e) { }
                                            });

                                            var n = d.getElementsByTagName("script")[0],
                                            s = d.createElement("script"),
                                            f = function () { n.parentNode.insertBefore(s, n); };
                                            s.type = "text/javascript";
                                            s.async = true;
                                            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                                            if (w.opera == "[object Opera]") {
                                            d.addEventListener("DOMContentLoaded", f, false);
                                            } else { f(); }
                                            })(document, window, "yandex_metrika_callbacks");
                                            </script>
                                            <noscript><div><img src="//mc.yandex.ru/watch/24887471" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
                                            <!-- /Yandex.Metrika counter -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    {% mainForm request %}

    <div id="message_show" class="hidden">
        <div class="message_inner">
            <h6>Спасибо!</h6>
            <p>В ближайшее время наш менеджер свяжется с Вами</p>
            <button class="btn btn-primary" class="red" onclick="closeMessage();">Закрыть</button>
        </div>
    </div>

{% endblock %}
